body, html {
  margin: 0;
  background-image: url("../img/bg-tile.png");
  color: #0131aa;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

.bg {
  background-image: url("../img/bg-header.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 123px;
  position: relative;
  z-index: 3;
}

h1 {
  color: #2c5edc;
  background-color: #fff;
  font-family: kobenhavn-stencil, serif;
  font-weight: 300;
  font-style: normal;
  font-size: 5rem;
  margin-top: -3px;
  padding: 1rem 0 2rem;
  border-top: 3px solid #0131aa;
  border-bottom: 3px solid #0131aa;
  text-align: center;
}
h2 {
  font-size: 2rem;
}

.button {
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  margin: 2rem auto;
  cursor: pointer;
  background-color: #5884f4;
  font-family: arial, helvetica, sans-serif;
}

.footer2 {
  text-align: right;
}
footer {
  background-color: white;
  border-top: 3px solid #0131aa;
  padding: 1rem 0;
  color: #333333;
}

.price-box{
  background-color: #ecf4fd;
  padding: 2rem 2rem 3.5rem;
  margin: 2rem 0;
}
.price-box h2 {
  margin: 0;
}
.price {
  font-family: kobenhavn-stencil,serif;
  font-weight: 700;
  font-style: normal;
  color: #0131aa;
  font-size: 5rem;
  text-align: center;
  margin: 0;
}
.container {
  max-width: 960px;
  margin: 0 auto;
}
.row {
  display: flex;
}
.column {
  flex: 0 0 50%;
  max-width: 50%;
}
.form-component label {
  display: block;
  margin-bottom: .25rem;
}
.form-component input[type="number"],
.form-component input[type="text"],
select {
  padding: 8px;
  width: 80%;
}

.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
  width: 100%;
}
.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
  width: 80%;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}