<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{{title|default}}{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.typekit.net/ktv3gct.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css', _external=True) }}">
    {% block head %}
    {% endblock %}
</head>
<body>
    <div class="bg"></div>
    <h1><a href="/">$ Price Your House</a></h1>
    {% block content %}
    <div class="container">
        {% block page_content %}{% endblock %}
    </div>
    {% endblock %}
    <footer>
        <div class="container">
            <div class="row">
                <div class="footer1 column"><a href="/privacy-policy">Privacy Policy</a></div>
                <div class="footer2 column">&copy;2022. Pricing a Home with Data. All Rights Reserved.</div>
            </div>
        </div>
    </footer>
    {% block scripts %}
    {% endblock %}
</body>
</html>