{% extends "base.html" %}

{% block title %}Price Your House{% endblock %}

{% block head %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css">
{% endblock %}

{% block page_content %}
<p>Complete all fields.</p>

<form method="POST">
    <div class="row">
        <div class="column">
            <h2>Basic Info</h2>
            <p class="form-component">
                {{ form.beds.label }}
                {{ form.beds() }}
            </p>

            <p class="form-component">
                {{ form.baths.label }}
                {{ form.baths() }}
            </p>

            <p class="form-component">
                {{ form.sqft.label }}
                {{ form.sqft() }}
            </p>

            <p class="form-component">
                {{ form.lot.label }}
                {{ form.lot() }}
            </p>

            <p class="form-component">
                {{ form.year.label }}
                {{ form.year() }}
            </p>
        </div>

        <div class="column">
            <h2>Location &amp; Type</h2>

            <p class="form-component">
                {{ form.county.label }}
                {{ form.county() }}
            </p>

            <p class="form-component">
                {{ form.location.label }}
                {{ form.location(id='select-location', placeholder='Select a location') }}
            </p>

            <p class="form-component">
                {{ form.zip.label }}
                {{ form.zip(id='select-zip', placeholder='Select a zipcode') }}
            </p>

            <p class="form-component">
                {{ form.type.label }}
                {{ form.type() }}
            </p>

            <p class="form-component">
                {{ form.hoa.label }}
                {{ form.hoa() }}
            </p>
        </div>
    </div>
    {{ form.submit(id='get-price-btn')  }}
</form>
<div class="price-box">
    <h2>House Price</h2>
    <p class="price" id="show-prediction">$000,000</p>
</div>
{% endblock %}

{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#select-location').select2({minimumInputLength: 2});
            $('#select-zip').select2({minimumInputLength: 2});
        });
    </script>
    <script src="{{ url_for('static', filename='js/script.js', _external=True) }}"></script>
{% endblock %}