body, html {
  margin: 0;
  background-image: url("../img/bg-tile.png");
  color: #0131aa;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}
a {
  color: #2c5edc;
}
h1 a {
  text-decoration: none;
}
.bg {
  background-image: url("../img/bg-header.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 123px;
  position: relative;
  z-index: 3;
}

h1 {
  color: #2c5edc;
  background-color: #fff;
  font-family: kobenhavn-stencil, serif;
  font-weight: 300;
  font-style: normal;
  font-size: 5rem;
  margin-top: -3px;
  padding: 2rem 0 3rem;
  border-top: 3px solid #0131aa;
  border-bottom: 3px solid #0131aa;
  text-align: center;
  line-height: 1;
}
h2 {
  font-size: 2rem;
}

#get-price-btn {
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  margin: 2rem auto;
  cursor: pointer;
  background-color: #5884f4;
  font-family: arial, helvetica, sans-serif;
}

.footer2 {
  text-align: center;
  margin: 1rem 0;
}
footer {
  background-color: white;
  border-top: 3px solid #0131aa;
  padding: 1rem 0;
  color: #333333;
}

.price-box{
  background-color: #ecf4fd;
  padding: 2rem 2rem 3.5rem;
  margin: 2rem auto;
  max-width: 600px;
}
.price-box h2 {
  margin: 0;
}
.price {
  font-family: kobenhavn-stencil,serif;
  font-weight: 700;
  font-style: normal;
  color: #0131aa;
  font-size: 3rem;
  text-align: center;
  margin: 0;
}
.container {
  max-width: 1000px;
  padding: 0 20px;
  margin: 0 auto;
}
.form-component label {
  display: block;
  margin-bottom: .25rem;
}
.form-component input[type="number"],
select {
  padding: 8px;
  width: 100%;
}
.select2-container {
  max-width: 100%;
}
ul#hoa {
  list-style: none;
  margin: 0;
  padding: 0;
}
ul#hoa li {
  display: inline-block;
  padding: 0;
  margin: 0 24px 0 0;
}
@media (min-width: 500px) {
  .price {
    font-size: 5rem;
  }
}
@media (min-width: 800px) {
  .form-component input[type="number"],
  select {
    width: 80%;
  }
  .select2-container {
    max-width: 80%;
  }
  .row {
    display: flex;
  }
  .column {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .footer2 {
    text-align: right;
    margin:0;
  }
}